:root {
  --menu-width: 15rem;
  --menu-border: 1rem;
  --menu-opacity-min: 0.15;
  --menu-opacity-max: 0.85;
  --menu-animation-speed: 0.25s;
} html, body {
  width: 100%;
  height: 100%;
  background: black;
  margin: 0;
  color: white;
} canvas {
  width: 100%;
  height: 100%;
  background: #333;
} input {
  margin-left: 1rem;
  width: calc(100% - 2rem);
} label {
  padding-right: 1rem;
  text-align: end;
  display: block;
  position: relative;
} h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
} ol {
  margin: 0;
} .controls label {
  margin-top: -0.75rem;
  z-index: -1;
} .info {
  position: absolute;
  z-index: 1;
  background: black;
  opacity: var(--menu-opacity-min);
  font-family: monospace;
  cursor: default;
  animation: fadeout var(--menu-animation-speed);
  user-select: none;
} .info:hover {
  animation: fadein var(--menu-animation-speed);
  opacity: var(--menu-opacity-max);
} .info > * {
  margin-left: var(--menu-border);
  margin-right: var(--menu-border);
} .head {
  display: flex;
  margin: 0;
  padding-left: var(--menu-border);
  padding-right: var(--menu-border);
} .head-text {
  flex: 1;
  padding-left: 0.75rem;
} .toggleMenu {
  margin-right: .75rem;
} .head:hover {
  cursor: pointer;
} .head:hover .toggleMenu {
  color: #0060df;
} .toggleMenu.active {
  /* rotate 90 degrees */
  transform: rotate(90deg);
} .menu {
  margin-bottom: 1rem;
} .select-text {
  user-select: text;
} .instructions {
  margin-bottom: 1rem;
} .instructions p {
  margin: 0; 
} .color-palette {
  display: flex;
  flex-wrap: wrap;
  width: var(--menu-width);
  margin-top: 1rem;
  margin-bottom: 1rem;
} .color {
  width: calc(var(--menu-width) / 20);
  height: calc(var(--menu-width) / 20);
} .controls input {
  display: block;
} .code {
  font-family: monospace;
  font-size: .75rem;
  line-height: 1rem;
  background: rgba(0,0,0,0);
  color: white;
  resize: none;
  overflow-y: hidden;
  width: var(--menu-width);
  border: none;
  padding-left: 1rem;
  font-weight: bold;
} .codeMenu {
  border-left: 3px solid black;
} .code:focus {
  outline: none;
} .codePreset {
  display: block; 
  width: 100%;
} .codeError {
  color: red;
} .menuContainer {
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  margin-left: 0;
} .menuTitle {
  height: 2rem;
  width: var(--menu-width);
  font-size: 3rem;
  margin-top: -0.5rem;
} .menuTitle div {
  z-index: -1;
  position: relative;
  overflow: hidden;
  color:rgba(255, 255, 255, 0.1);
} .hidden {
  height: 0;
  overflow-y: hidden;
  margin-bottom: 0;
} @keyframes fadein {
  from { opacity: var(--menu-opacity-min); }
  to   { opacity: var(--menu-opacity-max); } 
} @keyframes fadeout {
  from { opacity: var(--menu-opacity-max); }
  to   { opacity: var(--menu-opacity-min); } 
}